@model iCONEXTWorkShop.ViewModels.BillViewModel

<div class="container" id="printableArea">
    <div class="row">
        <div class="col-md-6">
            <h1>ใบเสร็จ</h1>
            <p><strong>ชื่อสกุล</strong> @Model.FirstName @Model.LastName</p>
            <p><strong>ที่อยู่จัดส่ง</strong> @Model.Address</p>
        </div>
        <div class="col-md-6">
            <p style="text-align: right; padding-top: 40px;">หมายเลขใบเสร็จ : @Model.OrderId</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-hover table-bordered" style="margin-top: 20px;">
                <thead>
                <tr>
                    <th style="width: 60%">ชื่อสิค้า</th>
                    <th style="width: 15%"><center>ราคาต่อหน่วย</center></th>
                    <th style="width: 10%"><center>จำนวน</center></th>
                    <th style="width: 10%"><center>ราคารวม</center></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Products)
                {
                    <tr>
                        <td>@item.Title</td>
                        <td><center>@item.Price</center></td>
                        <td><center>@item.Quantity</center></td>
                        <td><center>@item.TotalPrice</center></td>
                    </tr>
                }
                <tr>
                    <td colspan="3" style="text-align: right; border-bottom: hidden; border-left: hidden; background-color: white;"><strong>รวม</strong></td>
                    <td style="background-color: #a7f588"><center><strong>@Model.TotalPrice</strong></center></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <button class="btn btn-default btn-lg" onclick="printDiv('printableArea')"><i class="fa fa-print"></i> พิมพ์</button>
</div>

<script>
    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;

        window.print();

        document.body.innerHTML = originalContents;
    }

</script>